<div ng-style="{height:hig-500+'px'}" class="textOnImage">
    <pre style="color:white;font-size:30px;margin-top:30px;border:none;background-color:transparent;font-weight:bold;overflow:hidden;font-family:verdana">     MAKE YOUR TRAVEL
     <strong>MORE EXCITING</strong>
     BY CONNECTING WITH
     FELLOW PASSENGERS
     </pre>
    <div class="facebook-button">
        <a class="btn" ng-click="fbLogin()" id="fbLink" style="margin-left:60px">Connect with Facebook
                </a>
        <div id="status" style="margin-left:50px"></div>
    </div>
    <div class="clearfix"> </div>
</div>